/* universally sets baseline styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* styles header */ 
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* styles header heading */ 
h1 {
    display: inline-block;
    font-size: 48px;
}

/* styles subsection of header heading */ 
h1 .seo {
    color: #d9dcd6;
}

/* styles background image */ 
figure img {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* styles navigation bar */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* styles unordered list in nav bar*/ 
nav ul {
    list-style-type: none;
}

/* styles list items in nav bar unordered list */ 
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* styles links */ 
a {
    color: #ffffff;
    text-decoration: none;
}

/* styles body */
body {
    background-color: #d9dcd6;
}

/* styles paragraph text */ 
p {
    font-size: 16px;
}

/* styles main */ 
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* styles main sections */ 
main section{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* styles main headings */ 
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* styles main images */ 
main img {
    max-height: 200px;
}

/* styles class for left aligning content in main sections */ 
.float-left {
    float: left;
    margin-right: 25px;
}

/* styles class for right aligning content in main sections */ 
.float-right {
    float: right;
    margin-left: 25px;
}

/* styles sidebar */ 
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* styles sidebar headings */ 
h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* styles sidebar sections */ 
aside section{
    margin-bottom: 32px;
    color: #ffffff;
}

/* styles sidebar images */ 
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styles footer */ 
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* styles footer heading */ 
h4 {
    font-size: 20px;
}
